@charset 'UTF-8';

/* Configuraçôes Gerais */

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
	width: 100dvw;
	height: 100dvh;
	background-color: #223EFF;
	background-repeat: no-repeat;
	background-size: contain;
}

h1 {
	padding: 10px;
	text-shadow: 2px 2px 0 #000000;
	color: #FFFFFF;
}