@charset "UTF-8";

body {
	background-color: #000000;
	color: #FFFFFF;
}

h1 {
	text-align: center;
}

div {
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
}

a, a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

a:active {
	text-decoration: underline;
}