@charset 'UTF-8';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100dvh;
	font-size: 1em;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
	margin-bottom: 20px;
	line-height: 1.2em;
	text-align: left;
}

p {
	margin-bottom: 10px;
	text-align: justify;
}

header,
section.normal,
section.flex-content {
	padding: 20px;
}

section.flex-content {
	display: flex;
	flex-flow: column nowrap;
	background-color: rgb(150, 150, 150);
}

article.media-text,
article.text-media {
	display: flex;
	justify-content: space-between;
}

article.media-text {
	flex-flow: row wrap-reverse;
}

article.text-media {
	flex-flow: row wrap;
}

article > div.text {
	flex: 1 1 500px;
}

article > div.media {
	flex: 1 1 400px;
}

div.media > img,
div.media > iframe {
	margin: auto;
	display: block;
}

div.media > img {
	padding: 10px;
	width: 100%;
	max-width: 300px;
}

div.media > iframe {
	width: 90%
}